<!--
    This is a must-to-have config file that registers uniform-jss-kit site in configuration
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="uniform-jss-kit" 
            set:serverSideRenderingEngine="http" 
            set:serverSideRenderingEngineEndpointUrl="http://localhost:3000/jss-render" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
