<configuration xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- by default when the pages are previewed via Uniform Service or deployed to a CDN,
          the media needs to be loaded directly from Sitecore
      -->
      <setting name="Media.AlwaysIncludeServerUrl" set:value="true" />
      <!-- Setting MediaLinkServerUrl -->
      <!-- <setting name="Media.MediaLinkServerUrl" set:value="" /> -->
    </settings>
  </sitecore>
</configuration>
