<!--
    This is a must-to-have config file that registers uniform-jss-kit site and jss app in configuration, it needs to be deployed via `jss deploy config`
-->
<configuration
  xmlns:set="http://www.sitecore.net/xmlconfig/set/"
  xmlns:role="http://www.sitecore.net/xmlconfig/role/"
  xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>
    <sites>
      <site name="uniform-jss-kit" 
            virtualFolder="/" physicalFolder="/" language="en" rootPath="/sitecore/content/uniform-jss-kit" startItem="/home" database="web" filterItems="false" enableWorkflow="false" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" enableItemLanguageFallback="false" enableFieldLanguageFallback="false" 
            patch:before="site[@name='website']" role:require="Standalone or ContentManagement or ContentDelivery" />
    </sites>
    <javaScriptServices>
      <apps>
        <app name="uniform-jss-kit" sitecorePath="/sitecore/content/uniform-jss-kit" useLanguageSpecificLayout="true" inherits="defaults" />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
