<!--
    This is a must-to-have config file that registers uniform-jss-kit site in configuration
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <uniform>
      <siteConfigurations>
        <siteConfiguration name="uniform-jss-kit">
          <site set:inherits="uniform-jss-kit" />
        </siteConfiguration>
      </siteConfigurations>
    </uniform>
  </sitecore>
</configuration>
