<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <uniform>
      <siteConfigurations>
        <siteConfiguration name="uniform-jss-kit">
          <deployment>
            <deploymentService set:ref="uniform/services/hostedDeploymentService">
              <!-- Sitecore will hit this URL in the end of publishing to build html files and deploy them to Azure Blob container -->
              <ServiceUrl>http://localhost:3000</ServiceUrl>
            </deploymentService>
          </deployment>
        </siteConfiguration>
      </siteConfigurations>
    </uniform>
  </sitecore>
</configuration>
