<configuration xmlns:env="http://www.sitecore.net/xmlconfig/env/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Uniform.SitecoreJSS.Demo" description="items for the JSS demo site">
          <predicate>
            <include name="content" database="master" path="/sitecore/content/uniform-jss" />
            <include name="layouts" database="master" path="/sitecore/layout/Layouts/Project/uniform-jss" />
            <include name="placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/uniform-jss" />
            <include name="renderings" database="master" path="/sitecore/layout/Renderings/Project/uniform-jss" />
            <include name="templates" database="master" path="/sitecore/templates/Project/uniform-jss" />
          </predicate>

          <targetDataStore physicalRootPath="/App_Data/uniform-jss" useDataCache="false" singleInstance="true" />

          <!-- doesn't work with <except children="true" /> -->
          <dataProviderConfiguration enableTransparentSync="false" />

          <syncConfiguration updateLinkDatabase="true" updateSearchIndex="true" />
        </configuration>
      </configurations>
    </unicorn>
	<pipelines>
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="unicorn">/unicorn.aspx</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>
  </sitecore>
</configuration>
