<configuration>
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="JssUniform" description="JssUniform items.">
          <predicate>
            <include name="Content" database="master" path="/sitecore/content/uniform-jss" />
            <include name="Layouts" database="master" path="/sitecore/layout/Layouts/Project/uniform-jss" />
            <include name="Placeholders" database="master" path="/sitecore/layout/Placeholder Settings/Project/uniform-jss" />
            <include name="Renderings" database="master" path="/sitecore/layout/Renderings/Project/uniform-jss" />
            <include name="Templates" database="master" path="/sitecore/templates/Project/uniform-jss" />
            <include name="Branches" database="master" path="/sitecore/templates/Branches/Project/uniform-jss" />
            <include name="Profiles" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/uniform-jss" />
            <include name="Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/uniform-jss" />
            <include name="Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/uniform-jss" />
            <include name="Events" database="master" path="/sitecore/system/Marketing Control Panel/Events/uniform-jss" />
            <include name="Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/uniform-jss" />
          </predicate>

          <targetDataStore physicalRootPath="$(jssUniformSourceFolder)\serialization" useDataCache="false" singleInstance="true" />

          <dataProviderConfiguration enableTransparentSync="true" />

          <syncConfiguration updateLinkDatabase="true" updateSearchIndex="false" />
        </configuration>
      </configurations>
    </unicorn>
    <pipelines>
      <owin.cookieAuthentication.validateIdentity>
        <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
          <siteNeutralPaths hint="list">
            <path hint="unicorn">/unicorn.aspx</path>
          </siteNeutralPaths>
        </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>
  </sitecore>
</configuration>  
