<!--
    Enable this config file (updating variables) to make Uniform deploy media files 
    to the Azure Blob Storage Container that has CDN enabled to it.
    
    There's a limitation that dynamic media transformation parameters will be ignored
    such as mw, mh, bg etc.
-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Media.AlwaysIncludeServerUrl" value="true" />
        
      <!-- Specify the CDN URL that acts as a caching proxy in front of the blob container -->
      <setting name="Media.MediaLinkServerUrl" value="https://<CDN-ACCOUNT>.azureedge.net/" />
    </settings>
    <sites>
      <site name="habitat"
            
            set:mediaRemoteFileProvider="azureblob"
            set:mediaRemoteFileProvider-AzureBlobConnectionString="<STORAGE-ACCOUNT-CONNECTION-STRING>"
            set:mediaRemoteFileProvider-AzureBlobUrl="https://<STORAGE-ACCOUNT-NAME>.blob.core.windows.net/<MEDIA-CONTAINER-NAME>"
            />
    </sites>
  </sitecore>
</configuration>
