<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>    
    <settings>                  
      <!-- this is required when deployed to Azure Blob because it is case-sensitive -->
      <setting name="Media.LowercaseUrls" value="true" />
      <setting name="Uniform.Deploy.PrefetchData.Enabled" set:value="true" />
    </settings>
    
    <linkManager>
      <providers>
        <!-- all links must be relative to be deployed to a CDN -->
        <add set:alwaysIncludeServerUrl="false" />

        <!-- uniform does not support more than 1 language per site yet (multiple languages are supported via using separate domains and therefore separate sites) -->
        <add set:languageEmbedding="never" />
      </providers>
    </linkManager>
  </sitecore>
</configuration>
