<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <!-- $(env:HOST_OR_LOCALHOST) is a special token required for Docker support
        At run time it is replaced with "$(HOST_IP)" env variable value if defined, or with "localhost" text otherwise.
        When docker container is started, Compose.ps1 defines HOST_IP env variable with actual IP address of host machine
        so the code which runs inside Docker container can access it because localhost resolves to the docker container itself.
      -->
      <site name="habitat"
            
            set:publishEndpoint="http://$(env:HOST_OR_LOCALHOST):3000"
            set:previewEndpoint="http://$(env:HOST_OR_LOCALHOST):3000"
            />
    </sites>
  </sitecore>
</configuration>
