<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <log4net>
      <appender name="PublishingLogFileAppender">
        <patch:delete />
      </appender>
      <root>
        <!-- This is the last and only appender we want to keep
        
        <appender-ref ref="LogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
        -->
      </root>
      <logger name="Sitecore.Diagnostics.Publishing">
        <appender-ref ref="PublishingLogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="ClientLogAppender">
        <patch:delete />
      </appender>
      <logger name="ClientRoot">
        <appender-ref ref="ClientLogAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="SearchLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="CrawlingLogFileAppender">
        <patch:delete />
      </appender>
      <logger name="Sitecore.Diagnostics.Search">
        <appender-ref ref="SearchLogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <logger name="Sitecore.Diagnostics.Crawling">
        <appender-ref ref="CrawlingLogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="OwinLogFileAppender">
        <patch:delete />
      </appender>
      <logger name="Sitecore.Owin.Diagnostics">
        <appender-ref ref="OwinLogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="AggregationLogFileAppender">
        <patch:delete />
      </appender>
      <logger name="Sitecore.Analytics.Aggregation">
        <appender-ref ref="AggregationLogFileAppender" >
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="ContactMergeLogFileAppender">
        <patch:delete />
      </appender>
      <logger name="Sitecore.Xdb.Processing.ContactMerge.Logger">
        <appender-ref ref="ContactMergeLogFileAppender">
          <patch:delete />
        </appender-ref>
        <appender-ref ref="AzureFallbackAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <!--<appender name="AzureFallbackAppender">
        <patch:delete />
      </appender>-->
      <logger name="Sitecore.FXM.Diagnostics">
        <appender-ref ref="FxmLogFileAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <logger name="Sitecore.EDS">
        <appender-ref ref="EdsLogFileAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <logger name="Sitecore.EXM">
        <appender-ref ref="ExmLogFileAppender">
          <patch:delete />
        </appender-ref>
      </logger>
      <appender name="FxmLogFileAppender">
        <patch:delete />
      </appender>
      <appender name="EdsLogFileAppender">
        <patch:delete />      
      </appender>
      <appender name="ExmLogFileAppender">
        <patch:delete />
      </appender>
    </log4net>
  </sitecore>
</configuration>
