<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="Xdb.Enabled" value="false" />
      <setting name="Xdb.Tracking.Enabled" value="false" />
      <setting name="ContentTesting.AutomaticContentTesting.Enabled" value="false" />
    </settings>

    <scheduling>
      <agent type="Sitecore.ListManagement.Operations.UpdateListOperationsAgent, Sitecore.ListManagement">
        <patch:delete />
      </agent>
    </scheduling>
  </sitecore>
</configuration>
